.wrapper
  =render "shared/header"
  =render "shared/slide"
  .menu-lists
    %p.menu-lists__title メニュー
    - @shop.menus.each do |menu|
      .menu
        .menu__name
          = menu.name
        .menu__fee
          = "#{menu.fee}バーツ"

  .side-main
    .main
      .shop-lists
        = render partial: "shared/shop",locals: { shop: @shop}
  
  .footer
    = link_to "予約する", "https://airrsv.net/#{@shop.url}/calendar", class: 'reservation-btn', target: :_blank
