.side-bar
  .search-area
    %p.search-area__text エリア検索
    = form_tag(select_shops_path, method: :"get", class: "search-area__form") do
      = radio_button_tag :area, "22", false, id: 'bankoku'
      = label_tag :test1, "バンコク", for: 'bankoku'
      %br
      = radio_button_tag :area, "2", false, id: 'tyenmai'
      = label_tag :test1, "チェンマイ"
      %br
      = radio_button_tag :area, "12", false, id: 'puketto'
      = label_tag :test1, "プーケット"
      %br
      = radio_button_tag :area, "32", false, id: 'pataya'
      = label_tag :test1, "パタヤ"
      %br
      = radio_button_tag :area, "42", false, id: 'ayutaya'
      = label_tag :test1, "アユタヤ"
      %p
      = submit_tag "検索", class: "search-area__btn"
  .search-name
    = form_tag(search_shops_path, method: :"get", class: "search-name__form") do
      = label_tag :店名検索
      = text_field_tag :name, params[:name], { placeholder: "キーワード入力", class: "search-name__field", value: "" }
      = submit_tag "検索", class: "search-name__btn"

  